.mdl-data-table {
  margin: 20px auto;
  white-space: initial;
}

.mdl-button--fab.mdl-button--mini-fab {
  height: 30px;
  min-width: 30px;
  width: 30px;
  font-size: 18px;
}

.mdl-button--main {
    transform: translateY(32px);
}