<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Каталог книг</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">Каталог книг</span>
      <div class="mdl-layout-spacer"></div>
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored mdl-button--main">
        <i class="material-icons">add</i>
      </button>
    </div>
  </header>
  <main class="mdl-layout__content">
    <div class="page-content">
      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">Автор</th>    
            <th class="mdl-data-table__cell--non-numeric">Дата выхода</th>
            <th class="mdl-data-table__cell--non-numeric">Жанр</th>
            <th class="mdl-data-table__cell--non-numeric">Пометка</th>
            <th class="mdl-data-table__cell--non-numeric">Удалить</th>
          </tr>
        </thead>
        <tbody id="app">
        </tbody>
      </table>
    </div>

    <div class="page-content">
      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">Автор</th>    
            <th class="mdl-data-table__cell--non-numeric">Дата выхода</th>
            <th class="mdl-data-table__cell--non-numeric">Жанр</th>
            <th class="mdl-data-table__cell--non-numeric">Пометка</th>
            <th class="mdl-data-table__cell--non-numeric">Удалить</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">Madeline Kramer</td>
            <td>06.03.18</td>
            <td class="mdl-data-table__cell--non-numeric">"Drama"</td>
            <td class="mdl-data-table__cell--non-numeric">"elementum at, egestas a, scelerisque sed, sapien. Nunc pulvinar arcu"</td>
            <td class="mdl-data-table__cell--non-numeric"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">×</button></td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">Madeline Kramer</td>
            <td>06.03.18</td>
            <td class="mdl-data-table__cell--non-numeric">"Drama"</td>
            <td class="mdl-data-table__cell--non-numeric">"elementum at, egestas a, scelerisque sed, sapien. Nunc pulvinar arcu"</td>
            <td class="mdl-data-table__cell--non-numeric"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">×</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</div>

<!-- Шаблоны -->
<script type="text/template" class="book-template">
  <td class="mdl-data-table__cell--non-numeric"><%= author %></td>
  <td class="mdl-data-table__cell--non-numeric"><%= release_date %></td>
  <td class="mdl-data-table__cell--non-numeric"><%= genre %></td>
  <td class="mdl-data-table__cell--non-numeric"><%= label %></td>
  <td class="mdl-data-table__cell--non-numeric"><button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored">×</button></td>
</script>
<!-- Библиотеки -->
<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script src="js/lib/underscore-min.js"></script>
<script src="js/lib/jquery-3.2.1.min.js"></script>
<script src="js/lib/backbone-min.js"></script>
<!-- Кастомные скрипты -->
<script src="js/models/book.js"></script>
<script src="js/collections/books.js"></script>
<script src="js/views/book.js"></script>
<script src="js/views/app.js"></script>
<script src="js/app.js"></script>
</body>
</html>